@font-face {
  font-family: "PFStardust";
  src: url("../src/fonts/PFStardust.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PFStardust";
  src: url("./fonts/PFStardust_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.styled-text {
  position: relative;
  display: inline-block;
  color: black;
}

.styled-text::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  background-color: transparent;
  width: 0;
  transition: width 0.3s ease;
}

.styled-text:hover::after {
  background-color: teal;
  width: 100%;
}

.styled-button {
  padding: 0rem 0rem;
  background-color: white;
}

.styled-button:hover {
  background-color: white !important;
}

.animated-image {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.slick-prev:before,
.slick-next:before {
  color: white;
}

.styled-scrollbar {
  max-height: 750px;
  overflow-y: auto;
}

.styled-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  background-color: teal;
  border-radius: 9999px;
}

.slick-slide {
  text-align: center;
}

.datepicker {
  background-color: #171923;
  width: fit-content;
  height: 100%;
  text-align: left;
  padding-left: 16px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  pointer-events: none;
  outline: none;
  box-shadow: none;
}
